AZURE_OPENAI_API_KEY=8HMs7Zq5nmC3Y1r5J8Vxz4Y8lP4JK4RgFUzjZXyQTlpTHlFXGpwdJQQJ99BHACYeBjFXJ3w3AAABACOGrfiA
AZURE_OPENAI_ENDPOINT=https://momah-open-ai.openai.azure.com/
AZURE_OPENAI_DEPLOYMENT_NAME=gpt-4o
AZURE_OPENAI_EMBEDDING_DEPLOYMENT_NAME=text-embedding-ada-002
AZURE_OPENAI_API_VERSION=2024-02-15-preview

AZURE_AI_SEARCH_ENDPOINT=https://momah-ai-search.search.windows.net
AZURE_AI_SEARCH_API_KEY=S2ObM5pTXe9WOxsZdbA8W6lAypIdEG72YqEY9nHSZGAzSeDS4n8r
AZURE_AI_SEARCH_STUDY_INDEX_NAME=ma3refa-pdf-index-v3

APP_ENV=development
PORT=8000

AZURE_STORAGE_CONNECTION_STRING=DefaultEndpointsProtocol=https;AccountName=momahstoage;AccountKey=8Jw3/puj0PjUnyZIf61YYYDjZnu7299QrfsK1jEAm/j0x0TdbLSJVroxoWQ7CCiBs3WoOormqh17+AStCseqZg==;EndpointSuffix=core.windows.net
AZURE_STORAGE_CONTAINER_NAME=legal-storage
AZURE_VISION_ENDPOINT=https://maarefavision.cognitiveservices.azure.com/
AZURE_VISION_KEY=39uiNuPdnRRP68cnidcCIskVqjd5UmUA6ciAuAWlD1m1B2S9IcORJQQJ99BFACYeBjFXJ3w3AAAFACOG4p0x
AZURE_DOCUMENT_INTELLIGENCE_ENDPOINT=https://momah-ai-doc-intelligent.cognitiveservices.azure.com/
AZURE_DOCUMENT_INTELLIGENCE_KEY=BKL5HwPAmo4hkpKbKwDIT05bR65HQUA4pmaGAnWBkCbMc5uLL7PrJQQJ99BHACYeBjFXJ3w3AAALACOGuzW1
CACHE_DIR=.cache
EMBEDDING_MODEL=text-embedding-ada-002

MONGODB_URL=mongodb://localhost:27018
MONGODB_DB_NAME=maarefa_agent
REDIS_HOST=redis
REDIS_PORT=6379

DB_HOST=postgres
DB_PORT=5432
DB_NAME=commercial_licenses
DB_USER=postgres
DB_PASSWORD=postgres123
DATABASE_URL=postgresql://postgres:postgres123@postgres:5432/commercial_licenses

PGADMIN_DEFAULT_EMAIL=admin@commercial.local
PGADMIN_DEFAULT_PASSWORD=admin123
GROQ_API_KEY=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
MILVUS_URI=http://milvus:19530
EMBEDDING_BACKEND=azure_openai
ALLOW_SPECIAL_EMAIL_DOMAINS=.local
PGADMIN_DEFAULT_EMAIL=admin@example.com
AZURE_STORAGE_DOCS_CONTAINER_NAME=marefa-docs